.return-home {
    width: 80px;
    height: 30px;
    font-weight: 600;
    border: 1px solid transparent;
    background-color: var(--color-grey-500);
    border-radius: 16px;
    transition: ease .25s;
}

.return-home:hover{
    background-color: var(--color-grey-400);
}

.return-home:focus{
    color: #fff;
    background-color: var(--color-brand-200);
}