.news-category {
    background-color: var(--color-grey-700);
    border: 1px solid transparent;
    padding: 6px 10px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 13px;
    color: var(--color-grey-200);
    transition: ease .15s;
    cursor: pointer;
}

.news-category:hover{
    background-color: var(--color-grey-500);
}

.news-category:focus{
    background-color: var(--color-brand-200);
    color: var(--color-grey-700);
}

.return-top {
    width: fit-content;
    height: fit-content;
    margin-top: 6px;
    background-color: var(--color-grey-200);
    padding: 8px 16px;
    color: var(--color-grey-700);
    border: 1px solid transparent;
    border-radius: 16px;
}
